# We have to clean the data before we can use it in our model
So i will import the Symptom_severity data and clean it

In [1]:
# Importing the libraries of python for data manipulation:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt

## Now reading the exact file Symptom_severity.csv

In [2]:
data = pd.read_csv('../data/Symptom-severity.csv')
data.head()

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Symptom  133 non-null    object
 1   weight   133 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [4]:
data.sample(5)

                    Symptom  weight
18              mood_swings       3
128      inflammatory_nails       2
73      swollen_extremeties       5
130    red_sore_around_nose       2
75   extra_marital_contacts       5

## Checking if having the null values

In [ ]:
data.isnull().sum()
# no null values in the data

Symptom    0
weight     0
dtype: int64

## Statistical Analysis

In [6]:
data.describe()

           weight
count  133.000000
mean     4.225564
std      1.323543
min      1.000000
25%      3.000000
50%      4.000000
75%      5.000000
max      7.000000

In [7]:
# Clean 'Symptom' column: lowercase + strip whitespaces
data["Symptom"] = data["Symptom"].str.strip().str.lower()

# Drop rows with missing symptom or weight
data = data.dropna(subset=["Symptom", "weight"])

# Drop duplicates
data = data.drop_duplicates()

# Preview cleaned data
print(data.head())

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Symptom  133 non-null    object
 1   weight   133 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [11]:
data.value_counts().sum()

np.int64(133)

In [12]:
# saving the cleaned data
data.to_csv("../data/Cleaned_Symptom_severity.csv", index=False)